.bcpasaje-blockquote {
	border-left: 5px solid #806e78;
	background-color: #dbffeb;
	color: #5a440d;
	padding: 10px;
	font-size: 1em;
	font-style: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bcpasaje-cite {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eafff7;
	color: #5a440d;
	padding-right: 5px;
	font-size: 11pt;
	font-style: normal;
	text-align: right;
}

.bcpasaje-author {
	font-weight: bold;
}

.bcpasaje-image {
	margin: 0;
	padding: 0;
}

.bcpasaje-image img {
	border-radius: 50%;
	margin: 0;
}

.bcpasaje-text {
	font-size: .9em;
}

.bcpasaje-text p a {
	color: orangered;
}

.bcpasaje-titulo {
	padding: 3px;
	padding-left: 10px;
	margin-bottom: 5px;
	color: palegoldenrod;
	background-color: #6e8076;
	font-weight: bold;
}

.bcpasaje-tipo-autor {
	background-color: #dbfff2;
	font-size: .8em;
	margin-top: 0;
	padding: 0;
}